.layout {
    display: flex;
    height: 100vh;
    flex-direction: row; /* Sidebar left, content right */
    background-color: var(--bg-body);
}

.mainContainer {
    display: flex;
    flex-direction: column; /* Header top, content bottom */
    flex: 1;
    overflow: hidden;
}

.content {
    flex: 1;
    padding: 32px;
    overflow-y: auto;
}